*{ 
    box-sizing: border-box;
}
body{
  background-image: url(https://us.123rf.com/450wm/jevee/jevee1605/jevee160500602/57492220-seamless-vector-pattern-cute-blue-background-with-hand-drawn-ladybugs-butterfly-caterpillars-and-flo.jpg?ver=6);
  background-position: left;
  background-size: auto;
  margin: 20px 0px;
  border-radius:  20%;
    
}
.wrapper{
    width:800px;
    margin:0 auto;
    background-color: #F5E6FC;
    border-radius: 10px;
    border: 2px solid   rgb(61, 7, 92);;
}

header{
   
    padding:30px;
     color:  rgb(117, 51, 155);
     margin-top: 30;
   
     background-color:  background-color:#F5E6FC;
}

header > #logo{
    font-size: 1.2em;
    
    }
main{
        padding: 40px;
        overflow: hidden;
    }
section{
        width: 68%;
        float: left;
        margin-left: 3px;
    }
aside{
    width: 25%;
    float: right;
    margin-left: 2px;
    color:  rgb(61, 7, 92);
    background-color: #ffffff;  
    border-top:  5px  dotted  rgb(117, 51, 155);
    border-bottom:  2px solid  rgb(117, 51, 155);
    /*border-left:  2px solid  rgb(117, 51, 155);
    border-right:  2px solid  rgb(117, 51, 155);*/
    margin-top: 25px;
  
}
footer{
    padding: 20px;
    border-top: 1px solid rgb(61, 7, 92);
    color:  rgb(61, 7, 92);
    text-decoration-line: underline;
    text-decoration: bolder; 
}
h3{
    
  padding:  10px;
  color:  rgb(61, 7, 92);
  margin-bottom: 0%;
 

 
}
ul{
    font-weight: bolder;
    padding-right: 5px;
}
hr{
    margin-top: 0%;
}
h1, h3{
    margin: 0%;
}
.border{
    border-bottom: 2px solid rgb(61, 7, 92);
}


