header {
 border-bottom: 5px double black;
 background-color: yellow;
 }
 nav {
 float: left;
 width: 20%;
 clear: left;
 min-height: 400px;
 border-right: 1px solid black;
 background-color: orange;
 }
 main {
 float: left;
 width: 75%;
 padding-left: 1em;
 background-color: #55efc4;
 }
 article {
 float: left;
 width: 75%;
 padding-left: 1em;
 border-bottom: 2px black;
 background-color: skyblue;
 }
 footer {
 clear: both;
 border-top: 5px double black;
 text-align: center;
 background-color: #a29bfe;
 }